#profiles-container {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    /* position: relative; */
}


.profile-card{
    position: relative;
    right: 10%;
    left: 10%;

    background-color: rgb(3, 96, 156);
    width: 80%;
    height: 25%;
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: 1%;
}

.profile-pic {
    width: 15%;
    height: 100%;
    display: flex; justify-content:center;
    align-items: center;
    float:left;
}

.profile-pic img{
    height: 92%;
    border-radius: 50%;
}

.info-container{
    float: left;
    margin-left: 3%;
    height: 100%;
    align-items: center;
    width: 30%;
    
    
}

.info-item{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex; 
    justify-content:center;
    align-items: center;
    /* font-size: 150%;  */
    position: relative;
}

.info-item input{
    height: 80%;
    /* margin-left: 5%;  */
    position: absolute;
    right: 2%;
    max-width: 55%;
    font-size: 150%;
    background-color: lightblue;
}



.info-item label{
    position: absolute;
    left: 2%;
    color: white;
    font-size: 150%;
    font-weight: 800;
}

.btn-container{
    height: 100%;
    width: 17%;
    float:right;
    position: relative;
}


.btn-edit{
    background-color: brown;   
}

.btn-save{
    background-color: green;
}
.btn-container button{
    height: 47.5%;
    width: 95%;
    display: block;
    margin: 2%;
    border-radius: 10px;
    font-size: 150%;
    border: 2px solid blue;
}

