/**
 * CSS for the newgame page
 */

#buttons{ 
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: wrap;   
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
}


button{
    width: 90%;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

audio {
    display: none;
}

#audioIcon {
    top: 14px;
    left: 1290px;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
}
