#waitingRoom {
    border: 1px solid rgb(3, 96, 156);
    width: 40%;
    height: 85%;
    position: relative;
    /* float: center; */
    margin: 1%;
    left: 28%;
}

.playerCard{
    position: relative;
    left: 10%;
    right:10%;
    width: 80%;
    height: 18%;
    border: 2px solid rgb(3, 96, 156);
    margin-top: 2%;
    background-color:lightblue;
}

.cardProfilePic{
    position: relative;
    border: 2px solid rgb(3, 96, 156);
    border-radius: 50%;
    width:70%;
    height:80%;
    top: 10%;
    left: 3%;
}

.cardContainers{
    margin-top: 2%;
    margin-left: 2.5%;
    float: left;
    width: 30%;
    height: 80%;
}

.cardLeftContainer{

    /* background-color: blue; */
}

.cardCenterContainer{
    /* background-color: red; */
}

.cardRightContainer{
    /* background-color: green; */

    display: flex;
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* horizontal centering */
}

#roomHeading{
    width: 100%;
    height: 7%;
    background-color: rgb(3, 96, 156);
    font-size: 200%;
    text-align: center;
    color: white;
}

.kickBtn{
    width: 80%;
    height: 85%;
    border-radius: 10%;
    background-color: rgb(237, 43, 43);
    font-size: 150%;
    font-weight: bold;
}

#roomFooter{
    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 8%;
    background-color: rgb(3, 96, 156);

    display: flex;
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* horizontal centering */
}

.footer-btn{
    width: 30%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
}

.start-btn{
    background-color: lightgreen;
}

.leave-btn{
    background-color: rgb(237, 43, 43);
}

#name {
    cursor: pointer;
}

audio {
    display: none;
}

#audioIcon {
    top: 14px;
    left: 1290px;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
}