#shop {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.item {
    width: 29%;
    height: 400px;
    background: white;
    margin: 2%; /* 3 items is horizaontal space taken */
    border-radius: 10px;
}

.item .icon {
    height: 60%;
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-content: center;
}
.item .icon img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid darkblue;
}

.item .description {
    text-align: center;
}

.item .buy {
    display: block;
    margin: auto;
    min-width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.item-name {
    font-size: 200%;
    font-weight: bold;
}

#shop-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leave-btn {
    width: 40%;
    height: 80px;
    margin-bottom: 2%;
    font-size: 200%;
    background-color: rgb(3, 96, 156);
    color: white;
}

#leave-btn:hover {
    background-color: rgb(7, 137, 222);
}

#name {
    cursor: pointer;
}

audio {
    display: none;
}

#audioIcon {
    top: 14px;
    left: 1290px;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
}

#profile {
    display: block;
}

#username {
    position: relative;
    top: 10px;
}

#userMoney {
    position: relative;
    top: 15px;
}