/**
 * CSS that may be needed for most pages
 */

body,
html {
    height: 100%;
}

body {
    margin: 0;
    /* background-color: #4D5D53; */
    /* background-color: rgb(18, 231, 114); */
    /* background-image: linear-gradient(to left, rgb(12, 123, 194), rgb(94, 180, 229)); */
    background-color: rgb(94, 180, 229);
}

.vcenter {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.hcenter {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* display: flex; */
    justify-content: center;
    font-size: 150%;
}

#header {
    /* background-color: lightgreen; */
    background-color: rgb(3, 96, 156);
    width: 100%;
    height: 10%;
    color: white;
}

#name {
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: lightblue; */
    background-color: rgb(3, 96, 156);
}

#content-box {
    width: 40%;
    min-width: 300px;
    height: auto;
    float: left;
    margin: 50px;
    border-radius: 10px;
    background-color: white;
}

#contentheader {
    height: 30px;
    padding: 10px;
    background: rgb(3, 96, 156);
    margin-bottom: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
}

#rightbar {
    background: lightblue;
    float: right;
    height: 100%;
    cursor: pointer;
}

#profile {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    float: right;
    background-color: lightblue;
    width: 50px;
}

/* #profile:hover {
    background: blue;
} */

#pfp {
    height: 100%;
    float: right;
}

#pfp img {
    width: 74.825px;
    height: 73.75px;
    border-radius: 50%;
}

button {
    padding: 15px;
    border: none;
    background: skyblue;
    cursor: pointer;
}

button:hover {
    background: lightblue;
}

.logo {
    width: 100px;
}

#name {
    cursor: pointer;
}
