body {
    background-color: #5EB4E5;
    font-family: "Oswald", "Helvetica", sans-serif;
    margin-left: 20px;
    zoom: 80%; /* Added to fit the board vertically */
}

#board {
    background-color: #CEE6D0;
    display: block;
    float: left;
    height: 900px;
    position: relative;
    width: 900px;
}

#propertyInfo {
    border: 1px solid black;
    float: left;
    height: 400px;
    position: relative;
    width: 250px;
}

#propertyInfoHeader {
    border: 1px solid black;
    font-family: "Courier New", Courier, bold, sans-serif;
    font-size: larger;
    height: 50px;
    margin-left: 24px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: 200px;
}

#propertyInfoHeaderNoColor {
    font-family: "Courier New", Courier, bold, sans-serif;
    font-size: larger;
    height: 50px;
    margin-left: 24px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    width: 200px;
}

#propertyInfoImage {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 175px;
}

#propertyInfoText {
    margin-left: 5px;
    margin-top: 10px;
}

#playerList {
    border: 1px solid black;
    float: left;
    height: 900px;
    position: relative;
    width: 250px;
}

#diceDisplay {
    border: 1px solid black;
    float: left;
    height: 100px;
    position: relative;
    width: 200px;
}

#centerImage {
    background-position: center center;
    background-repeat: no-repeat;
    height: 225px;
    left: 37.5%;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    top: 37.5%;
    width: 225px;
}

#cornerTileSE {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: 0px;
    width: 120px;

}

#bottomRow1 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px);
    width: calc(652px / 9);
}

#bottomRow1Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#bottomRow2 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow2Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow3 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 2 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow3Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#bottomRow4 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 3 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow4Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow5 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 4 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow5Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow6 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 5 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow6Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#bottomRow7 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 6 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow7Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow8 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 7 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow8Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#bottomRow9 {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 8 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow9Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#cornerTileSW {
    border: 2px solid black;
    bottom: 0px;
    height: 120px;
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol1 {
    border: 2px solid black;
    bottom: calc(0% + 124px);
    height: calc(652px / 9);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol1Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#leftCol2 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol2Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 100px;
    top: 24px;
}

#leftCol3 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 2 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol3Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#leftCol4 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 3 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol4Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#leftCol5 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 4 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol5Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 100px;
    top: 22px;
}

#leftCol6 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 5 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol6Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#leftCol7 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 6 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol7Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 100px;
    top: 16px;
}

#leftCol8 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 7 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol8Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#leftCol9 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 8 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0px;
    position: absolute;
    width: 120px;
}

#leftCol9Text {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

#cornerTileNW {
    border: 2px solid black;
    height: 120px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 120px;
}

.horizontalRowNonColorCell {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow1 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9);
}

#topRow1Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#topRow2 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow2Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow3 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 2 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow3Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#topRow4 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 3 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow4Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#topRow5 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 4 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow5Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow6 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 5 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow6Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#topRow7 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 6 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow7Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#topRow8 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 7 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow8Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow9 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 8 + 4px);
    position: absolute;
    top: 0px;
    width: calc(652px / 9 - 4px);
}

#topRow9Text {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

#cornerTileNE {
    border: 2px solid black;
    height: 120px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
}

#rightCol1 {
    border: 2px solid black;
    height: calc(652px / 9);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px);
    width: 120px;
}

#rightCol1Text {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 29px;
    transform: rotate(-90deg);
}

#rightCol2 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) + 4px);
    width: 120px;
}

#rightCol2Text {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 29px;
    transform: rotate(-90deg);
}

#rightCol3 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 2 + 4px);
    width: 120px;
}

#rightCol3Text {

}

.rightColNonColorCells {
    display: block;
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
}

#rightCol4 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 3 + 4px);
    width: 120px;
}

#rightCol4Text {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 29px;
    transform: rotate(-90deg);
}

#rightCol5 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 4 + 4px);
    width: 120px;
}

#rightCol5Text {
    display: block;
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    top: 20px;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
}

#rightCol6 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 5 + 4px);
    width: 120px;
}

#rightCol6Text {
    display: block;
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    top: 12px;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
}

#rightCol7 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 6 + 4px);
    width: 120px;
}

#rightCol7Text {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 29px;
    transform: rotate(-90deg);
}

#rightCol8 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 7 + 4px);
    width: 120px;
}

#rightCol8Text {

}

#rightCol9 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0px;
    top: calc(0% + 124px + (652px / 9) * 8 + 4px);
    width: 120px;
}

#rightCol9Text {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 29px;
    transform: rotate(-90deg);
}

.purpleHead {
    background-color: purple;
    height: 20%;
    text-align: center;
    width: 100%;
}

.purpleHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

.cyanHead {
    background-color: cyan;
    height: 20%;
    text-align: center;
    width: 100%;
}

.cyanHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

.pinkHead {
    background-color: pink;
    float: right;
    height: 100%;
    text-align: center;
    width: 20%;
    writing-mode: vertical-rl;
}

.pinkHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

.orangeHead {
    background-color: orange;
    float: right;
    height: 100%;
    text-align: center;
    width: 20%;
    writing-mode: vertical-rl;
}

.orangeHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    right: 30px;
}

.redHead {
    background-color: red;
    float: top;
    height: 20%;
    text-align: center;
    width: 100%;
}

.redHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

.yellowHead {
    background-color: yellow;
    float: top;
    height: 20%;
    text-align: center;
    width: 100%;
}

.yellowHeadText {
    display: block;
    font-size: 14px;
    position: relative;
    top: 30px;
}

.greenHead {
    background-color: green;
    float: left;
    height: 100%;
    width: 20%;
}

.greenHeadText {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 42px;
    transform: rotate(-90deg);
}

.blueHead {
    background-color: blue;
    float: left;
    height: 100%;
    width: 20%;
}

.blueHeadText {
    display: block;
    font-size: 14px;
    left: 30px;
    position: relative;
    top: 42px;
    transform: rotate(-90deg);
}
