body {
    background-color: #5EB4E5;
    font-family: "Oswald", "Helvetica", sans-serif;
    margin-left: 20px;
    zoom: 80%; /* Added to fit the board vertically */
}

#board {
    background-color: #CEE6D0;
    float: left;
    height: 900px;
    position: relative;
    width: 900px;
}

#propertyInfo {
    border: 2px solid black;
    float: left;
    height: 400px;
    position: relative;
    width: 250px;
}

#propertyInfoHeader {
    border: 2px solid black;
    font-family: "Courier New", Courier, bold, sans-serif;
    font-size: larger;
    height: 50px;
    margin-left: 24px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    word-break: break-all;
    width: 200px;
}

#propertyInfoHeaderNoColor {
    font-family: "Courier New", Courier, bold, sans-serif;
    font-size: larger;
    height: 50px;
    margin-left: 24px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    word-break: break-all;
    width: 200px;
}

#propertyInfoImage {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 175px;
}

#propertyInfoText {
    margin-left: 5px;
    margin-top: 10px;
}

#playerList {
    border: 2px solid black;
    float: left;
    height: 900px;
    position: relative;
    width: 250px;
}

#diceDisplay {
    border: 2px solid black;
    float: left;
    height: 100px;
    position: relative;
    width: 200px;
}

#centerImage {
    background-position: center center;
    background-repeat: no-repeat;
    height: 225px;
    left: 37.5%;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    top: 37.5%;
    width: 225px;
}

#cornerTileSE {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: 0;
    width: 120px;
}

#bottomRow1 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px);
    width: calc(652px / 9);
}

#bottomRow1Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#bottomRow1Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#bottomRow2 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow2Text {
    display: block;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow2Price {
    font-size: 12px;
    position: relative;
    top: 81px;
    text-align: center;
    word-break: break-all;
}

#bottomRow3 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 2 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow3Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#bottomRow3Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#bottomRow4 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 3 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow4Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow4Price {
    font-size: 12px;
    position: relative;
    top: 81px;
    text-align: center;
    word-break: break-all;
}

#bottomRow5 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 4 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow5Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow5Price {
    font-size: 12px;
    position: relative;
    top: 81px;
    text-align: center;
    word-break: break-all;
}

#bottomRow6 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 5 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow6Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#bottomRow6Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#bottomRow7 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 6 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow7Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#bottomRow7ImageContainer {
    height: 72%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 3px;
}

#bottomRow7Image {
    max-height: 100%;
    max-width: 100%;
}

#bottomRow8 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 7 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow8Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#bottomRow8Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#bottomRow9 {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    position: absolute;
    right: calc(0% + 124px + (652px / 9) * 8 + 4px);
    width: calc(652px / 9 - 4px);
}

#bottomRow9Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#bottomRow9Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#cornerTileSW {
    border: 2px solid black;
    bottom: 0;
    height: 120px;
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol1 {
    border: 2px solid black;
    bottom: calc(0% + 124px);
    height: calc(652px / 9);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol1Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    height: 100%;
}

#leftCol1Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -70px;
}

#leftCol2 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol2Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 95px;
    top: 24px;
}

#leftCol2Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -12px;
}

#leftCol3 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 2 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol3Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    top: 19px;
}

#leftCol3Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#leftCol4 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 3 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol4Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    top: 19px;
}

#leftCol4Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#leftCol5 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 4 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol5Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 95px;
    top: 22px;
}

#leftCol5Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -17px;
}

#leftCol6 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 5 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol6Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    top: 19px;
}

#leftCol6Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#leftCol7 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 6 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol7Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 95px;
    top: 16px;
}

#leftCol7Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#leftCol8 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 7 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol8Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    top: 19px;
}

#leftCol8Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#leftCol9 {
    border: 2px solid black;
    bottom: calc(0% + 124px + (652px / 9) * 8 + 4px);
    height: calc(652px / 9 - 4px);
    left: 0;
    position: absolute;
    width: 120px;
}

#leftCol9Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    left: 72px;
    top: 19px;
}

#leftCol9Price {
    font-size: 12px;
    position: relative;
    text-align: center;
    word-break: break-all;
    writing-mode: vertical-rl;
    height: 100%;
    top: -33px;
}

#cornerTileNW {
    border: 2px solid black;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
}

#topRow1 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px);
    position: absolute;
    top: 0;
    width: calc(652px / 9);
}

#topRow1Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow1Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#topRow2 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow2Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow2ImageContainer {
    height: 72%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 3px;
}

#topRow2Image {
    max-height: 100%;
    max-width: 100%;
}

#topRow3 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 2 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow3Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow3Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#topRow4 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 3 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow4Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow4Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#topRow5 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 4 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow5Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow5Price {
    font-size: 12px;
    position: relative;
    top: 81px;
    text-align: center;
    word-break: break-all;
}

#topRow6 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 5 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow6Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow6Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#topRow7 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 6 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow7Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow7Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#topRow8 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 7 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow8Text {
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 5px;
    word-break: break-all;
}

#topRow8Price {
    font-size: 12px;
    position: relative;
    top: 81px;
    text-align: center;
    word-break: break-all;
}

#topRow9 {
    border: 2px solid black;
    height: 120px;
    left: calc(0% + 124px + (652px / 9) * 8 + 4px);
    position: absolute;
    top: 0;
    width: calc(652px / 9 - 4px);
}

#topRow9Text {
    font-size: 14px;
    position: relative;
    top: 5px;
    text-align: center;
    word-break: break-all;
}

#topRow9Price {
    font-size: 12px;
    position: relative;
    top: 55px;
    text-align: center;
    word-break: break-all;
}

#cornerTileNE {
    border: 2px solid black;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

#rightCol1 {
    border: 2px solid black;
    height: calc(652px / 9);
    position: absolute;
    right: 0;
    top: calc(0% + 124px);
    width: 120px;
}

#rightCol1Text {
    font-size: 14px;
    left: -20px;
    position: relative;
    top: 37px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol1Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 19px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol2 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) + 4px);
    width: 120px;
}

#rightCol2Text {
    font-size: 14px;
    left: -20px;
    position: relative;
    top: 37px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol2Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 19px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol3 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 2 + 4px);
    width: 120px;
}

#rightCol3Text {
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
    top: 2px;
}

#rightCol3Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: -38px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol4 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 3 + 4px);
    width: 120px;
}

#rightCol4Text {
    font-size: 14px;
    left: -20px;
    position: relative;
    top: 37px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol4Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 18px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol5 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 4 + 4px);
    width: 120px;
}

#rightCol5Text {
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    top: 20px;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
}

#rightCol5Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 6px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol6 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 5 + 4px);
    width: 120px;
}

#rightCol6Text {
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    top: 12px;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
}

#rightCol6ImageContainer {
    height: 72%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 3px;
}

#rightCol6Image {
    transform: rotate(-90deg);
    height: 176%;
    width: 36%;
    position: relative;
    top: -24px;
    left: 12px;
}

#rightCol7 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 6 + 4px);
    width: 120px;
}

#rightCol7Text {
    font-size: 14px;
    left: -20px;
    position: relative;
    top: 37px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol7Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 18px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol8 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 7 + 4px);
    width: 120px;
}

#rightCol8Text {
    font-size: 14px;
    left: 5px;
    position: relative;
    text-align: center;
    transform: rotate(180deg);
    word-break: break-all;
    writing-mode: vertical-rl;
    top: 2px;
}

#rightCol8Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: -38px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol9 {
    border: 2px solid black;
    height: calc(652px / 9 - 4px);
    position: absolute;
    right: 0;
    top: calc(0% + 124px + (652px / 9) * 8 + 4px);
    width: 120px;
}

#rightCol9Text {
    font-size: 14px;
    left: -20px;
    position: relative;
    top: 37px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

#rightCol9Price {
    font-size: 12px;
    left: 49px;
    position: relative;
    top: 16px;
    transform: rotate(-90deg);
    text-align: center;
    word-break: break-all;
}

.purpleHead {
    background-color: purple;
    height: 20%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.cyanHead {
    background-color: cyan;
    height: 20%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.pinkHead {
    background-color: pink;
    float: right;
    height: 100%;
    text-align: center;
    width: 20%;
    writing-mode: vertical-rl;
    border-left: 2px solid black;
}

.orangeHead {
    background-color: orange;
    float: right;
    height: 100%;
    text-align: center;
    width: 20%;
    writing-mode: vertical-rl;
    border-left: 2px solid black;
}

.redHead {
    background-color: red;
    float: top;
    height: 20%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.yellowHead {
    background-color: yellow;
    float: top;
    height: 20%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.greenHead {
    background-color: green;
    float: left;
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
}

.blueHead {
    background-color: blue;
    float: left;
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
}
