/**
 * CSS for the login page
 */

#content-box form{
    margin: 20px;
    padding: 10px;
}

#content-box form input{
    margin-bottom: 20px;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid blue;
}

#content-box form button{
    padding: 10px;
    border: none;
    margin: 5px;
    background: skyblue;
}
#content-box form button:hover{
    background: lightblue;
}

#error {
    color: red;
}
