#shop {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.item {
    width: 400px;
    height: 400px;
    background: white;
    margin: 10px;
    border-radius: 10px;
}

.item .icon {
    height: 60%;
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-content: center;
}
.item .icon img{
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid darkblue;
}

.item .description{
    text-align: center;
}

.item .buy{
    display: block;
    margin: auto;
    min-width: 60%;
    font-size: 15px;
}

