/**
 * CSS that may be needed for most pages
 */

body {
    margin: 0;
    background-color: #4D5D53;
}

.vcenter{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.hcenter{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

#header{
    background-color: lightgreen;
    width: 100%;
    height: 70px;
}

#name{
    height: 100%;
    float: left;
    padding-left: 10px; 
    padding-right: 10px; 
    background-color: lightblue;
}

#content-box {
    width: 40%;
    min-width: 300px;
    height: auto;
    float: left;
    margin: 50px;
    border-radius: 10px;
    background-color: white;
}

#contentheader {
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background: blue;
    margin-bottom: 10px;
}

#rightbar{
    background: lightblue;
    float: right;
    height: 100%;
}

#profile{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    float: right;
    background: lightblue;
}

#profile:hover {
    background: blue;
}

#pfp {
    height: 100%;
    float: right;
}
#pfp img{
    height: 100%;
    border-radius: 50%;
}
